
<div class="row">
  <div class="span5">
    <h2>Add Ticket</h2>
    {{view Ember.TextField valueBinding="newTicketName" action="addTicket"}}
  </div>
  <div class="span7">
    <h2>Tickets</h2>
    <ul>
      {{#each controller}}
        <li>
          {{name}}
        </li>
      {{/each}}
    </ul>
  </div>
</div>

